@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}



/* .blue_gradient{
  background: linear-gradient(90deg,#4ca5ff,#b573f8);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent !important;
  text-fill-color: transparent !important;

} */
.search_input{
  @apply inline-flex items-center rounded-md font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-transparent shadow-sm hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2 relative w-full justify-start text-sm text-muted-foreground sm:pr-12 md:w-40 lg:w-64;
}

.sidebar{
  position: fixed;
  overflow-y: scroll;
  height: 700px;
  width: 300px
}

.btn-primary {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  /* font-family: Phantomsans, sans-serif; */
  font-size: 14px;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 100px;
  max-width: 200px;
  padding: 10px 15px;
  text-decoration: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
 }
 
 .btn-primary:active,
 .btn-primary:hover {
  outline: 0;
 }
 
 .btn-primary span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
 }
 
 .btn-primary:hover span {
  background: none;
 }
 
 .btn-primary:active {
  transform: scale(0.9);
 }



HTML CSSResult Skip Results Iframe
EDIT ON
html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}


.sidebar {
  --scrollbarBG: #FFF;
  --thumbBG: #CCC;
}
.sidebar::-webkit-scrollbar {
  width: 4px;
}
.sidebar {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.sidebar::-webkit-scrollbar-track {
  background: transparent;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 1px solid transparent;
}

.mobile_nav {
  /* background-color: #ccc; */
}

.mobile_nav a {
  text-decoration: none;
  color: #1E1E23;
  opacity: 1;
  font-size: 1.5rem;
  font-weight: 600;
  transition: 200ms;
  width: 220px;
  border-radius: 5px;
  padding: 1px 10px;
}


/* .text_primary {
  background: linear-gradient(30deg,#4ca5ff,#b573f8);
  -webkit-background-clip: text;
  background-clip: text !important;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent !important;
  font-weight: 600;
} */



.job-card {
  max-width: 800px;
  background: #fff;
  border-radius: 2px;
  margin: auto;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
  margin-bottom: 20px;
}
.job-card .info {
  padding: 15px;
  display: grid;
  grid-template-columns: 90px auto;
}
.job-card .info .avatar {
  overflow: hidden;
  height: 72px;
  width: 72px;
  border-radius: 3px;
  margin-top: 5px;
}
.job-card .info .avatar img {
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
}
.job-card .info .details {
  align-self: center;
  padding: 10px 0;
}
.job-card .info .details .name {
  font-size: 18px;
  line-height: 1;
  padding: 2px 0;
  font-weight: 400;
}
.job-card .info .details .meta-info {
  padding: 2px 0;
  color: #787878;
  line-height: 16px;
  font-weight: 400;
}
.job-card .info .details .meta-info .prac-area:not(:empty)::before,
.job-card .info .details .meta-info .exp-yr:not(:empty)::before {
  content: "|";
  padding: 10px;
}
@media (max-width: 575px) {
  .job-card .info {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .job-card .info .details {
    text-align: center;
  }
  .job-card .info .details .meta-info {
    padding: 5px;
  }
  .job-card .info .details .meta-info .exp-yr {
    display: block;
  }
  .job-card .info .details .meta-info .exp-yr:not(:empty) {
    margin-top: 5px;
  }
  .job-card .info .details .meta-info .exp-yr:not(:empty)::before {
    content: none;
  }
}
.job-card .actions {
  margin: 0 15px 15px;
  display: table;
  width: calc(100% - 30px);
  border-collapse: collapse;
  border-radius: 3px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #f6f7f8;
}
.job-card .actions > div {
  text-align: center;
  padding: 0;
  display: table-cell;
  border: 1px solid #f2f2f2;
  vertical-align: middle;
  height: 64px;
}
.job-card .actions .ratings {
  width: 24%;
}
.job-card .actions .ratings .rating-control {
  display: block;
}
.job-card .actions .ratings .rating-control .fa {
  font-size: 18px;
  color: #ffdc40;
}
.job-card .actions .ratings .rating-count {
  font-size: 12px;
  text-transform: uppercase;
  color: #898989;
}
.job-card .actions .comments {
  width: 23%;
}
.job-card .actions .comments .comment-count {
  font-size: 12px;
  text-transform: uppercase;
  color: #898989;
}
.job-card .actions .comments .comment-count strong {
  display: block;
  color: #0081e0;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
.job-card .actions .consultation {
  width: 23%;
}
.job-card .actions .consultation .fee {
  font-size: 12px;
  text-transform: uppercase;
  color: #898989;
}
.job-card .actions .consultation .fee strong {
  display: block;
  color: #0081e0;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
.job-card .actions .appo {
  width: 30%;
}
.job-card .actions .appo .btn {
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border-radius: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 15px;
  margin: 0 5px;
}
@media (max-width: 575px) {
  .job-card .actions > div {
    display: block;
    padding: 10px;
    height: auto;
  }
  .job-card .actions > div.comments, .job-card .actions > div.consultation {
    width: 50%;
    display: inline-block;
  }
  .job-card .actions > div.ratings, .job-card .actions > div.appo {
    width: 100%;
  }
}
.job-card .locations {
  padding: 15px 15px 20px;
  border-top: 1px solid #f6f7f8;
  border-radius: 0 0 2px 2px;
  line-height: 1;
  font-size: 12px;
  color: #898989;
  font-weight: 400;
  text-transform: capitalize;
}
@media (max-width: 575px) {
  .job-card .locations {
    text-align: center;
  }
}
.job-card.hoverable:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.job-card.certified::after {
  content: "";
  background: url("//via.placeholder.com/100") no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
}
@media (max-width: 575px) {
  .job-card {
    padding: 10px;
  }
}
.job-card + .job-card {
  margin-top: 1rem;
}



.input-box {
  position: relative;
  height: 76px;
  max-width: 900px;
  width: 100%;
  background: #fff;
  margin: 0 20px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.input-box i,
.input-box .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.input-box i {
  left: 20px;
  font-size: 30px;
  color: #707070;
}
.input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  padding: 0 155px 0 65px;
  background-color: transparent;
}
.input-box .button {
  right: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
  background-color: #ecbd00;
  cursor: pointer;
}
.input-box .button.clicked {
  transform: translateY(-50%) scale(0.98);
}

/* Responsive */
@media screen and (max-width: 500px) {
  .input-box {
    height: 66px;
    margin: 0 8px;
  }
  .input-box i {
    left: 12px;
    font-size: 25px;
  }
  .input-box input {
    padding: 0 112px 0 50px;
  }
  .input-box .button {
    right: 12px;
    font-size: 14px;
    padding: 8px 18px;
  }
}
